<html style="text-align:center; font-family:tahoma"></html>
<h1> You have attacked <%= @game.current_opponent.name%> </h1>
<p>
<%= @game.current_opponent.name%> now has <%= @game.current_opponent.hp%> HP
</p>
<form action= '/switching' method = 'post'>
  <button type="submit" value="done">AND THAT'S HOW IT'S DONE!</button>
</form>