<h1 style="text-align:center; font-family:tahoma"> You have attacked <%= @game.player_2.name%> </h1>
<p style="text-align:center; font-family:tahoma">
<%= @game.player_2.name%> now has <%= @game.player_2.hp%> HP
</p>
<form action= '/play' style="text-align:center">
  <input type="submit" value="AND THAT'S HOW IT'S DONE!">
</form>