<html style="text-align:center; font-family:tahoma"> You have attacked <%= @warrior_2.name%> </html>
<p style="text-align:center; font-family:tahoma">
<%= @warrior_2.name%> has <%= @warrior_2.hp%> HP
</p>
