<h1 style="text-align:center; font-family:tahoma"> BATTLE TIME </h1>
<h3 style="text-align:center; font-family:tahoma"> Create your warriors: </h3>
<form action='/names'  method='post'>
  <div style="text-align:center; font-family:tahoma">
    <label for='warrior_1'>Warrior 1</label>
    <input type='text' name='warrior_1'>
  <div>
  <div style="text-align:center; font-family:tahoma">
    <label for='warrior_2'>Warrior 2</label>
    <input type='text' name='warrior_2'>
  </div>
  <p style="text-align:center; font-family:tahoma">
  <input type='submit' value='Create Warriors'>
</p>
</form>
