<h1> BATTLE TIME </h1>
<h2> Create your warriors: </h2>
<form action='/names'  method='post'>
  <div>
    <label for='warrior_1'>Warrior 1</label>
    <input type='text' name='warrior_1'>
  </div>
  <div>
    <label for='warrior_2'>Warrior 2</label>
    <input type='text' name='warrior_2'>
  </div>

  <input type='submit' value='Create Players'>

</form>
