<html>Warriors <%= @warrior_1%> and <%= @warrior_2%> were successfully created!</html>
<html><%= @warrior_1%> has 60 HP</html>
<html><%= @warrior_2%> has 60 HP</html>

<form action="/attack">
  <input type="submit" value='Attack!'>
</form>
